.face{
    width: 400px;
    height: 400px;
    background-color: orange;
    border-radius: 50%;
}
.mouth{
    width: 200px;
    height: 75px;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.left-eye,.right-eye{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}
.right-eye{
    left: 200px;
}