#container{
    height: 400px;
    width: 400px;
    background-color: white;
    
    margin: 10px auto;
    border:2px solid rgb(16, 185, 227);
    border-radius: 10px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items:center
}
.box{
    height: 100px;
    width: 100px;
    margin: 10px auto;
    border:2px solid black;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    background-color: rgb(119, 116, 116);
}